
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; 
    color: black;
    margin: 0;
    padding: 0;
}

.dashboard-container {
    width: 80%;
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    opacity: 0;
    animation: fadeIn 2s forwards; 
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.dashboard-title {
    text-align: center;
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
}

.dashboard-tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.dashboard-tabs button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    background-color: #f4f4f4;
    border: 2px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    color: #333;
}

.dashboard-tabs button.active {
    background-color: #e2231a;
    color: white;
    border: none;
}

.dashboard-tabs button:hover {
    background-color: #9f3d3d;
    transform: scale(1.05);
}

/* Tab Content */
.dashboard-tab-content {
    text-align: center;
}

.overview-content, .detailed-content {
    display: none;
}

.overview-content.active, .detailed-content.active {
    display: block;
}

h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 15px;
}

p {
    font-size: 1.2rem;
    color: #555;
}
.Logout-btn{
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    background-color: #fff;
    color: d32d27;
    border: 2px solid #e2231a;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}

.Logout-btn:hover{
    background-color: #f8d7da;
    transform: scale(1.05);
}